@tailwind base;
@tailwind components;
@tailwind utilities;

span,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-light;
}

.container {
  @apply w-5/6;
}

.card {
  @apply bg-white w-full flex flex-col my-2 p-4 gap-4 rounded-lg;
}

.card-main {
  @apply w-full h-full bg-gray p-1 rounded-md md:w-[410px];
}

.header-nutry {
  @apply bg-white w-full h-[55px] absolute top-0 z-50;
}

.sidebar-desktop {
  @apply bg-white w-[55px] h-screen absolute top-0 flex justify-center py-8;
}

.sidebar-mobile {
  @apply bg-white w-[280px] z-10 h-screen absolute top-0 flex justify-center py-8;
}

.btn {
  @apply px-7 py-1 rounded drop-shadow-md font-normal;
}

.btn-primary {
  @apply bg-primary text-white px-7 py-2 rounded drop-shadow-md font-normal
          hover:bg-primary-clear;
}

.input-on {
  @apply w-full my-1 block pl-5 py-2 text-sm text-gray-dark border border-gray-light rounded-lg bg-gray-light 
    focus:border-primary focus:ring-primary focus:outline-none focus:ring focus:ring-opacity-40;
}

.input-off{
  @apply w-full my-1 block pl-5 py-2 text-sm text-error border border-gray-light rounded-lg bg-gray-light 
    focus:border-error ring-error outline-none ring ring-opacity-40;
}
